
body {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    margin-left: 1%;
    
   
}

main {
    margin-left: 20%;
    margin-right: 3%;
    padding: 20px;
}
button{
    height: 30px;
    width: 250px;
    margin-top: 1%;
}